// Modules and Variables
@import "partials/fonts";
@import "partials/color";
@import "partials/mixins";
//@import "plugins/swiper/swiper";
@import "partials/base";

//iconos, custom buttons, shapes
a{font-weight: 500;
	&:focus{outline:0; }
}
img{border: none;text-indent: -5000px;}

h1, h2,
.h1, .h2 {
	line-height: 1;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
	line-height: 1.2;
}

.h1{
	&-lg{font-size: 4.6875rem;line-height: 60px;} //75
}
.h2{
	&-lg{font-size: 2.34rem;}
}
.h3{
	&-lg{font-size: 1.75rem;} //28
	&-md{font-size: 1.25rem;} //20
	&-sm{font-size: 1.125rem;} //18
}

.h4{
	&-sm{font-size: 1rem;} //16
}

.h5{
	&-sm{font-size: 0.875rem;} //14
}

.p, .li{
	&-sm{font-size: 0.875rem;} //14
}
// Tipografia
.font-lyl{font-family: $LYLS!important;}

p, li{ font-size: 0.9375rem; font-weight: normal; //15
	&.small{font-size: 0.75rem; line-height: 1.4em;} //12
}

ul{list-style: none; list-style-type: none;
	li{list-style: none;list-style-type: none;}
}

.right{right:0;}
.top{top:0;}
.left{left:0;}
.bottom{bottom:0;}

.right-full{right:100%;}
.left-full{left:100%;}

.logo-tooltip{z-index: 100;
	&>div{
		&>img{z-index: 5; margin: 2px;}
		&>span{position: absolute; opacity: 0; display: block;  @include transition(all .3s ease); overflow: hidden;@include box-shadow(0 4px 7px rgba(0,0,0, .2));
			&.left-full{@include transform(translate(-30px, 0));}
			&.right-full{@include transform(translate(30px, 0));}
			&>*:last-child{margin-bottom: 0!important;}
		}
		&:hover{
			&>span{opacity: 1; @include transform(translate(0, 0)!important); @include transition(all .4s ease-in-out);}
		}
	}
}

.brand{
	&-vegan{}
}

.lspace{letter-spacing: 0.1875rem;} //300
.text-shadow{@include text-shadow(3px 2px 2px rgba(0,0,0,.2));}

.line-down{position: relative; padding-bottom: 2.5rem;
	&:before{content:''; position: absolute; width: 35px; height: 1px; left:50%; bottom: 0; margin-left: -17.5px; @include bg-traslucid($gray, 100);}
}

.btn{letter-spacing: 0.07rem;  @include transition(all .4s ease-in-out);
	&:hover{@include transition(all .3s ease-in-out);}
	&.search{text-indent: -5000;}
}

.ico-top{bottom: 15px; z-index: 500;width: 30px; height: 30px; right: 15px; display: none; opacity: 0; @include transition(all .3s ease-in-out);
	&.visible{display: block; opacity: 1;}
	a{width: 100%; display: block; @include bg-traslucid($white, 0);overflow: hidden;
		svg{width: 100%;}
	}
}

.cont-img{
	&.square{position: relative; height:0; padding-top: 83.336284826754281%; /*400*/ width: 100%; left:0; top:0; overflow: hidden;
		&:before{content: ''; position: absolute; width: 5000px; left: 0; height: 100%; @include bg-traslucid($black, .03); z-index: 1; top:0;}
		&>img{width: auto;min-width: 100%;height: 100%;top:0;background-size: contain; position: absolute;@include transform(scale(1));@include transition(all .5s ease-in-out);}
	}
}

//Form
input{
	&::-ms-input-placeholder{color: $dark;} //Edge
}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none!important; }

*[class*="ico-"]{position: relative;}
.ico{
	&-puff{ padding-top: 33px;
		@include before(left, '#{$BaseUrl}/icons/puff.svg', 0, 0, 33px, 23px, 0, 50%, -15px, 0);
		&:before{content:'';position: absolute; top:0;}
	}
	&-arrow-left{
		svg{width: 25.7333px; height: 24.9px; display: block;left: 50%;position: absolute;top: 50%;margin-top: -12.45px;margin-left: -12.86665px;}
	}
	&-glass{position: relative; display: block;
		svg{width: 25px; height: 25px;position: relative; display: block;
			path{fill: $gray;}
		}
	}
	&-error{
		@include before(left, '#{$BaseUrl}/img/icons/close.png', 0, 0, 12px, 12px, 0, 0, 0, 0);
		&:before{content:'';position: relative; margin-right: 7px; display: inline-block; background-size: contain;}
	}
	&-ok{
		@include before(left, '#{$BaseUrl}/img/icons/ok.png', 0, 0, 12px, 12px, 0, 0, 0, 0);
		&:before{content:'';position: relative; margin-right: 7px; display: inline-block; background-size: contain;}
	}
	&-fb{
		@include before(left, '#{$BaseUrl}/img/icons/icons-rrss.png', 0px, 0, 40px, 40px, 0, 0, 0, 0);
		&:before{content:'';position: relative; display: block; }
	}
	&-ig{
		@include before(left, '#{$BaseUrl}/img/icons/icons-rrss.png', -40px, 0, 40px, 40px, 0, 0, 0, 0);
		&:before{content:'';position: relative; display: block; }
	}
	&-yt{
		@include before(left, '#{$BaseUrl}/img/icons/icons-rrss.png', -80px, 0, 40px, 40px, 0, 0, 0, 0);
		&:before{content:'';position: relative; display: block; }
	}
	/*&-glass{
		@include before(left, '#{$BaseUrl}/icons/glass.svg', 0, 0, 25px, 25px, 0, 0, 0, 0);
		&:before{content:'';position: relative; display: block;  background-size: contain;}
	}*/
}

.brand{
	&-recicla{max-width: 220px;}
	&-cde{max-width: 100px;}
}

//Estucturas default
header{z-index: 150; top:0; border-bottom: 1px solid #eeeeee;@include transition(all .5s ease-in-out); //height: $height-header;
	//Navs
	.navbar{ z-index: 1000;
		.navbar-toggler{opacity: 1; z-index: 5000; outline: none !important; box-shadow: none !important;
			.navbar-toggler-icon{outline: none !important; box-shadow: none !important;}
			&:hover{opacity: .7; }
			&.collapsed{opacity: 1;
				.navbar-toggler-icon{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(70,110,167,0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}
				&:hover{opacity: 1;}
			}
		}
	}
	.navbar-brand{
		svg{max-width: 150px; min-width: 57px; @extend %relativeBox; z-index: 50;
			path{fill: $brown;}
		}
		img{max-width: 90px; min-width: 60px;z-index: 5000;position: relative;}
	}
	.navbar-light{
		.navbar-nav {
			.nav-item {@include transition(all .5s ease);white-space: nowrap;
				.nav-link{cursor: pointer!important; font-size: 1rem;  line-height: 1.125rem; letter-spacing: 0.025rem; position: relative;  @include color-traslucid($primary, .7); @include transform(translate(0, 0)); @include transition(all .2s ease);
					&:before{content:''; width: 0px; height: 2px; opacity: .7; background-color: $primary; position: absolute; left:50%; margin-left: -0px; bottom: -1px; text-align: center; @include transition(all .5s ease-in-out);@include border-radius(3px);}
					&:hover{@include color-traslucid($primary, 100);  @include transition(all .2s ease-in-out);
						&:before{width: 60px; margin-left: -30px; bottom: 4px; opacity: .85; @include transition(all .4s ease);}
					}
				}
				&.active{
					.nav-link{ @include color-traslucid($primary, 100); font-weight: 700;
						&:before{width: 70px; height: 4px; bottom: -2px; margin-left: -35px; background-color: transparent; opacity: 1; @include transition(all .4s ease);}
						&:hover{@include transform(translate(0, 0));}
					}
				}
			}
		}
		.panel-admin{
		}
	}
	&.sticky{
		&.selected{position: fixed; width: 100%;top:0; left:0; @include transition(all .3s ease); z-index: 1000;
			.navbar-brand img, header .navbar-brand svg {max-width: 60px;@include transition(all .3s ease);}
			nav{padding-top: 5px!important; padding-bottom: 5px!important;}
		}
	}
}

//Sliders
.swiper-container{
	.cont-img{background-color: $light;}
	.swiper-button-prev, .swiper-button-next{ background-image: none!important; height: auto; opacity: .55;@include transition(all .2s ease-in-out); width: 33px; height: 33px; margin-top: -16.5px;
		&:after{display: none;}
		&:focus, &:active{border:none!important; box-shadow: none!important; outline: none!important;}
	  svg{width: 10px; height: 25px; position: absolute;left:50%; top: 50%; margin-top: -12.5px; margin-left: -5px; color: inherit;
	    path{fill: $gray; @include transition(all .3s ease);}
	  }
	  &:hover{opacity:1; @include transform(scale(1)); @include transition(all .2s ease-in-out);}
	  &.to-the-stick{width: 60px; height: 60px; margin-top: -16.5px;
	  	svg{margin-top: -12px;}
		}
		&.text{
			&-white{
				svg path{fill: $white;}
			}
		}
	}
	.swiper-button-prev{
  	&.to-the-stick{
  		left: -30px;border-radius: 0 100% 100% 0 !important;
  		svg{margin-left: 0; left:auto; margin-right: 15px; right:0;}
  	}
  }
  .swiper-button-next{
  	&.to-the-stick{
  		right: -30px;border-radius: 100% 0 0 100% !important;
  		svg{margin-left: 15px; left:0;}
  	}
  }
  .swiper-pagination{
    &.disabled{opacity: 0!important; display: none;}
		&.vertical{right: 5px;left: auto;width: 30px !important;bottom: 5px;
			.swiper-pagination-bullet {width: 12px;height: 12px;display: block;background: #f1f1f1;@include box-shadow(0 0 2px rgba(0,0,0, .15)); opacity: .5;margin: 8px 4px!important;}
		}
  }
	.swiper-pagination{position: absolute;}
	.swiper-button-prev, .swiper-button-next{background-image: none!important; height: auto; opacity: .55;@include transition(all .2s ease-in-out); width: 33px; height: 33px; margin-top: -16.5px;
		&:focus, &:active{border:none!important; box-shadow: none!important; outline: none!important;}
		svg{width: 10px; height: 25px; position: absolute;left:50%; top: 50%; margin-top: -12.5px; margin-left: -5px;
			path{fill: $gray; @include transition(all .3s ease);}
		}
		&:hover{opacity:1; @include transform(scale(1)); @include transition(all .2s ease-in-out);}
	}
	//.swiper-button-prev{}
	//.swiper-button-next{}
	.swiper-button-disabled{display: none!important;}
	.swiper-pagination-bullet-active{background: $primary!important; @include transform(scale(1.2)); opacity: 1!important;}
	.swiper-pagination-bullet{width: 7px;height: 7px;background: $gray; opacity:.5; margin: 0 4px;
		&:focus, &:active{box-shadow: none!important; outline: none!important;}
	}
	.swiper-pagination{
		&.disabled{opacity: 0!important; display: none;}
	}
}

.swiper-button-prev, .swiper-button-next{background-image: none!important; height: auto; opacity: .55;@include transition(all .2s ease-in-out); width: 33px; height: 33px; margin-top: -16.5px;
	&:focus, &:active{border:none!important; box-shadow: none!important; outline: none!important;}
	svg{width: 10px; height: 25px; position: absolute;left:50%; top: 50%; margin-top: -12.5px; margin-left: -5px;
		path{fill: $gray; @include transition(all .3s ease);}
	}
	&:hover{opacity:1; @include transform(scale(1)); @include transition(all .2s ease-in-out);}
}
.swiper-button-disabled{display: none!important;}
.swiper-pagination-bullet-active{background: $primary!important; @include transform(scale(1.2)); opacity: 1!important;}
.swiper-pagination-bullet{width: 7px;height: 7px;background: $gray; opacity:.5; margin: 0 4px;
		&:focus, &:active{box-shadow: none!important; outline: none!important;}
	}
.swiper-pagination{
	&.disabled{opacity: 0!important; display: none;}
}

.SliderMain{z-index: initial; color: $dark;
	.swiper-container{
		.swiper-wrapper{
			.swiper-slide{height: 530px; overflow: hidden;
				*{z-index: initial; }
				.cont-img{@extend %absoluteBox; height: 100%; top:0; left:0;z-index: 0!important;background-color: $light; min-height: 220px;
					&:before{content: ''; position: absolute; width: 5000px; left: 0; height: 100%; @include bg-traslucid($black, .1); z-index: 1; top:0;}
					&>img{display:block; /*top:0;*/  @include transform(scale(1)); @include transition(all 6s ease-out); min-height: 100%!important; min-width: 100%!important;background-size: contain; width: auto;}
					&>.row{top:0; left:0;}
				}
				.over-img{}
				.content-info{margin: 0 -15px; padding-left: 60px!important; padding-right: 30px!important; background-color: transparent!important;
					&.bg-darkgreen{
						&:before{content: ''; position: absolute; width: 5000px; right: 0; height: 100%; @include bg-traslucid($darkgreen, .95); z-index: 1; top:0;}
						a,.btn{color: $white;}
						//*[class*='btn-outline']{border-color: $white;}
					}
					*{z-index: 1;}
					&.bg-light{@include bg-traslucid-important($light, .9);}
					nav{top:0;}
				}
				*[class*="ico-"]{
					&.order-1{margin-right: 7px;}
					&.order-2{margin-left: 7px;}
				}
			}
		}
		&:hover{
			.swiper-button-prev, .swiper-button-next{opacity: .3;
				&:hover{opacity:1;}
			}
		}
	}
	.swiper-button-prev, .swiper-button-next{background-image: none!important; height: auto; opacity: 0;@include transition(all .2s ease-in-out); width: 33px; height: 33px; margin-top: -16.5px;
		&:focus, &:active{border:none!important; box-shadow: none!important; outline: none!important;}
		svg{width: 10px; height: 25px; position: absolute;left:50%; top: 50%; margin-top: -12.5px; margin-left: -5px;
			path{fill: $gray; @include transition(all .3s ease);}
		}
		&:hover{opacity:1; @include transform(scale(1)); @include transition(all .2s ease-in-out);}
	}
	//.swiper-button-prev{}
	//.swiper-button-next{}
	.swiper-button-disabled{display: none!important;}
	.swiper-pagination-bullet-active{background: $primary!important; @include transform(scale(1.2)); opacity: 1!important;}
	.swiper-pagination-bullet{width: 7px;height: 7px;background: $gray; opacity:.5; margin: 0 4px; }
	.swiper-pagination{
		&.disabled{opacity: 0!important; display: none;}
	}
}

.internaMain{z-index: initial; color: $primary;
	.wrapper-info{left:0; top:0; height: 100%; width: 100%; z-index: 2000!important;}
	.swiper-container{
		.swiper-wrapper{
			.swiper-slide{height: 0; padding-top: 45.299145299145299%; min-height: 220px; overflow: hidden; //530
				*{z-index: initial; }
				.cont-img{@extend %absoluteBox; height: 100%; top:0; left:0;z-index: 0!important;background-color: $light;
					// &:before{content: ''; position: absolute; width: 5000px; left: 0; height: 100%; @include bg-traslucid($black, .1); z-index: 1; top:0;}
					&>img{display:block; /*top:0;*/  @include transform(scale(1)); @include transition(all 6s ease-out); min-height: 100%!important; min-width: 100%!important;background-size: contain; width: auto;}
					&>.row{top:0; left:0;}
				}
				.cont-video{@extend %absoluteBox; height: 100%; top:0; left:0;z-index: 0!important;background-color: $light;
					&:before{content: ''; position: absolute; width: 5000px; left: 0; height: 100%; @include bg-traslucid($black, .1); z-index: 1; top:0;}
					video{width: auto;}
				}
				&>.wrapper-play{position: absolute;top:0; left:0;
					.fa-play-circle{z-index: 10;}
				}
				.over-img{}
				.content-info{margin: 0 -15px; background-color: transparent!important;
					&.bg-darkgreen{
						&:before{content: ''; position: absolute; width: 5000px; right: 0; height: 100%; @include bg-traslucid($darkgreen, .95); z-index: 1; top:0;}
						a,.btn{color: $white;}
						//*[class*='btn-outline']{border-color: $white;}
					}
					*{z-index: 1;}
					&.bg-light{@include bg-traslucid-important($light, .9);}
					nav{top:0;}
				}
				*[class*="ico-"]{
					&.order-1{margin-right: 7px;}
					&.order-2{margin-left: 7px;}
				}
			}
		}
	}
	.hero-cont{
		.hero-cont_info{
			.hero-cont_img{
				img{width: 80%; max-width: 150px;}
			}
		}
	}
}

.carouselCard{z-index: initial;
	.wrapper-info{left:0; top:0; height: 100%; width: 100%; z-index: 2000!important;}
	.swiper-container{
		.swiper-wrapper{
			.swiper-slide{
				*{z-index: initial; }
				.cont-img{position:relative; height: 0; margin: 0 -15px; padding-top: 45.299145299145299%; min-height: 220px; overflow: hidden;background-color: transparent;
					&>img{position: absolute; top:0; width: auto; height: 100%;}
					.fullImg{width: 100%!important;}
				}
				.cont-video{@extend %absoluteBox;  height: 100%; top:0; left:0;z-index: 0!important;background-color: $light;
					&:before{content: ''; position: absolute; width: 5000px; left: 0; height: 100%; @include bg-traslucid($black, .1); z-index: 1; top:0;}
					video{width: auto;}
				}
				&>.wrapper-play{position: absolute;top:0; left:0;
					.fa-play-circle{z-index: 10;}
				}
				.over-img{}
				.content-info{margin: 0 -15px; background-color: transparent!important;
					&.bg-darkgreen{
						&:before{content: ''; position: absolute; width: 5000px; right: 0; height: 100%; @include bg-traslucid($darkgreen, .95); z-index: 1; top:0;}
						a,.btn{color: $white;}
						//*[class*='btn-outline']{border-color: $white;}
					}
					*{z-index: 1;}
					&.bg-light{@include bg-traslucid-important($light, .9);}
					nav{top:0;}
				}
				*[class*="ico-"]{
					&.order-1{margin-right: 7px;}
					&.order-2{margin-left: 7px;}
				}
			}
		}
	}
	.swiper-pagination{position: absolute;top: -15px; margin-top: 45.299145299145299%!important; display: block;}
}
.simpleCarousel{
	.swiper-container{
		.swiper-wrapper{
			.swiper-slide{height: initial;}
		}
	}
}
.wrapper-play{
	.fa-play-circle{@include transform(scale(1)); @include transition(all .4s ease-in-out);@include text-shadow(0 0 5px rgba(0,0,0, .1)); z-index: 100; opacity: .75;}
	&:hover {
		.fa-play-circle{@include transform(scale(1.2)); @include transition(all .3s ease-in-out); opacity: 1;}
	}
}

//secciones
.heading{ position: relative;
	&>.container{z-index: initial; min-height: 400px;
		.content-info{position: relative; z-index: 10;padding: 220px 0 100px;
			&:hover{
				.ico{
					&-arrow-down{@include transform(translate(0, 7px)); @include transition(all .2s ease-in-out);}
				}
			}
		}
	}
}

.card{
	&-color{overflow: hidden; height: auto; border: none;
		.card-body{bottom:0; left:0; height: 100px; position: absolute;   z-index: 100;/*margin-top: 61.3999809660059%;*/ background-color: transparent!important;  @include transition(all 1s ease-in-out); //margin-top:200;
			&>*{z-index: 1;}
			.card-title{flex: 1 1 auto !important; height: 100%; position: relative;background-color: transparent!important;
				&:before{content:''; position: absolute; width: 100%; height: 5000px; top: 0; left: 0; @include transition(all 1.4s ease); z-index: 0;}
				&>*{margin-bottom: 0!important; z-index: 11;}
				&.bg-white{//background: rgba(255,255,255, .75)!important;
					&:before{@include bg-traslucid($white, .85);}
				}
			}
		}
		.cont-img{position: relative; height:0; padding-top: 83.336284826754281%; /*400*/ width: 100%; left:0; top:0; overflow: hidden;
			&:before{content: ''; position: absolute; width: 5000px; left: 0; height: 100%; @include bg-traslucid($black, .03); z-index: 1; top:0;}
			&>img{width: auto;min-width: 100%;height: 100%;top:0;background-size: contain; position: absolute;@include transform(scale(1));@include transition(all .5s ease-in-out);}
		}
		&:hover{
			.cont-img{
				&>img{@include transform(scale(1.4));@include transition(all .5s ease-in-out);}
			}
			.card-body{/*margin: 30.69999048300295% 0!important;*/ height:100%; @include transition(all .6s ease-in-out 0s); //100px 0 100px
				*{color: $white!important;@include transition(all .4s ease-in 0s);}
				.card-title{
					&:before{@include bg-traslucid($primary, .5); top:-200%;}
				}
			}
		}
	}
	}

.wrapper-noticias{
	.card-deck{
	&>*[class^="col-"]{
		&:nth-child(even){
			.card-color{
				&:hover{
					.card-body{
						.card-title{
							&:before{@include bg-traslucid($darkgreen, .7);}
						}
					}
				}
			}
		}
	}
	}
}

.wrapper-search{ opacity: .5;
	&>div{display: block; overflow: hidden; width: 0;@include transition(all .4s ease-in-out); position: relative;
		input{padding-right:2rem!important; opacity: .6;
			&:focus{opacity: .6;}
		} //padding:.625rem 3rem .625rem  2rem!important;
		.search{position: absolute;right: 1px;top: 1px;height: calc(100% - 2px);width: 40px; @include border-radius(0);
			&:hover{@include bg-traslucid($light, .1);}
			svg{opacity: .3;}
			&.active{
				svg{opacity: 1;}
			}
		}
		.fa-times{position: absolute; height: calc(100% - 2px); width: 30px; right: 1px; top:1px; z-index: 100; @include border-radius(0 20px 20px 0); opacity: .3; cursor: pointer;
			&:before{top:50%; left:50%; margin-top: -8px; margin-left: -5.5px; position: absolute;}
			&:hover{@include bg-traslucid($light, 100);}
			&.active{opacity: 1;}
		}
	}
	&.selected{opacity: 1;
		&>div{width: 250px;}
		.open{
			svg{
				path{fill: $blue!important;}
			}
		}
	}
	&:hover{opacity: 1;
		.open{
			svg{
				path{fill: $primary; }
			}
		}

	}
	.open{
		&:hover{
			svg{
				path{fill: $gray!important; }
			}
		}
	}
}

.wrapper-social{
	a{opacity: .75;@include transition(all .3s ease-in-out);
		&:hover{opacity: 1;}
	}
}

.tab-ingr{
	p, small{display: block;}
	&>.row{
		&>*{min-height: 62.2px;}
		&>*{
			&:last-child{border-bottom: 0!important;}
		}
	}
}

.tab-nutri{
	p, small{display: block;}
	&>.row{
			&:last-child{border-bottom: 0!important;}
	}
}

.listado-noticias{
	a{color: $gray;
		&:hover{color: $primary;}
	}
	&>*{
		&:last-child{border-bottom: none!important;}
	}
}
.modal{
	&.modalVideo{
		.modal-content{border:none;}
		.modal-header{background-color: $primary !important;height: 30px;padding: 0;position: relative; border: none!important;
			.close{position: absolute;right: 12px;top: 50%;margin: -17.6px 0 0 0;padding: 0;z-index: 10;font-size: 2.2rem;font-weight: 400;}
		}
		.modal-body {padding-top: 50% !important;}
		iframe{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-size: contain;}
	}
}

.deco{
	&-palmera{@include before(left, '#{$BaseUrl}/deco/palmera.png', 0, 0, 24.097222222222222%, 0, 0, 5%, 0, 0);
		&:before{position: absolute; max-width: 160px; max-height: 342px; top:10%; padding-top: 23.75%; background-size: contain;}
	}
	&-mata{@include after(right, '#{$BaseUrl}/deco/mata.png', 0, 0, 23.333333333333333%, 0, 0, 0, 0, 0);
		&:after{position: absolute; max-width: 220px!important; max-height: 139px; padding-top: 9.652777777777778%; top: auto; bottom:50%; margin-bottom: -4.826388888888889%; background-size: contain;}
	}
	&-mata2{@include after(left, '#{$BaseUrl}/deco/mata2.png', 0, 0, 23.333333333333333%, 0, 20px, 20px, 0, 0);
		&:after{position: absolute; max-width: 220px!important; max-height: 139px; padding-top: 9.652777777777778%; background-size: contain;}
	}
	&-coco{@include after(right, '#{$BaseUrl}/deco/coco.png', 0, 0, 24.305555555555556%, 0, 0, 0, 30px, 0);
		&:after{position: absolute; max-width:150px!important; max-height: 244px; padding-top: 16.944444444444444%; margin-top: 2.826388888888889%; background-size: contain;}
	}
	&-mora{@include after(left, '#{$BaseUrl}/deco/mora.png', 0, 0, 14.305555555555556%, 0, 0, 0, 30px, 0);
		&:after{position: absolute; max-width:120px!important; max-height: 184px; padding-top: 12.777777777777778%; top: auto; bottom:0; margin-bottom: 4.826388888888889%; background-size: contain;}
	}
}

//Pages
.wrapperFull{position: relative; width: 100%;
	min-height: calc(100vh - 217.5px);
	&#interna{
		.body-info{
			a{
				&:hover{text-decoration: underline;}
			}
			.cont-video{position: relative; display: block; margin: 1.5rem 0;
				iframe{width: 100%;}
			}
		}
	}
	&#not-found{
		.deco-palmera{
			&:before{right:0; left:auto; bottom:0; top: auto; margin-top:0;}
		}
	}
}

footer{border-top: 1px solid #eeeeee;
	.nestle-brand{
		img{max-width: 100px;}
	}
	.legal-link{text-decoration: underline;;}
}

// Bg Textura
.bg-texture{background-image: url('#{$BaseUrl}/img/textura.png');background-size: inherit;}

.actividades{z-index: 100;
	.logo-move{
		img{width: 250px;}
	}
}
.card-tips{
	img{width: 100%;}
}
.fd-madera{position: absolute; bottom: 0; left: 0;
	img{width: 100%; max-height: 270px;}
}

.item-move{
	img{width: 80%; max-width: 160px;}
}

.produc-move_img{
	img{width: 80%; max-width: 150px;}
}
.produc-sv{
	img{width: 500px;}
}

.modalTabla{
	.close{position: absolute; right: 15px; top: 15px; z-index: 500; color: $primary!important; opacity: 1; font-size: 2.3rem;
		&:focus{box-shadow: none!important; outline: none!important;}
	}
}
.modal-backdrop{background-color: $white;
    opacity: .98!important;}

.borderTable{border-width: 3px;}

//Video 100
video{width: 100%;}
.videoYT{
	iframe{width: 100%;
	}
}

.subtitulo{
	& > span{font-family: $LYLS; color: $pink}
}
.img-product{position: absolute; bottom: 30px; right: 200px;}
.boton-move{
	a.text-white:hover, a.text-white:focus{color: $white!important;}
}

.syb_int{display: inline-block; margin-right: 2px; transform: scaleX(-1);}


//Queries
@media screen and (min-width: 1440px){
	.carouselCard{
		.swiper-pagination{margin-top: 648px!important;}
	}
}

@media screen and (min-width: 1200px){
	.text-xl-nowrap{white-space: nowrap!important;}
	.internaMain {
		z-index: initial;
		color: $primary;

		.swiper-container {
			.swiper-wrapper {
				.swiper-slide {
					height: 0;
					padding-top: 530px;
					.cont-video{
						video{height: auto; min-height: 100%; width: 100%;}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1199px){
	.SliderMain .swiper-container .swiper-wrapper .swiper-slide,  .internaMain .swiper-container .swiper-wrapper .swiper-slide{
		.cont-img{
			&>img{ min-width: initial !important;}
		}
	}
	.logo-tooltip{
		&> div{
			& > span{width: 80%; min-width: 180px;}
			&:hover{}
		}
	}
}

@media screen and (max-width: 991px){
	body{
		&:before{content:''; z-index: 0; position: absolute; @include transition(all .5s ease-in-out .2s); width: 100%; height: 100%; left:0; top:0; @include bg-traslucid($darkgreen, 0);}
		&.header-active{position: relative;overflow-y: hidden;
			.ico-top{opacity: 0;}
			header{
				.navbar-brand path{fill: $white; @include transition(all 0s ease-in-out);}
				.navbar{
					.navbar-toggler{
						&.collapsed{
						}
					}
				}
			}
			&:before{@include transition(all .4s ease-in-out); @include bg-traslucid($white, .97);z-index: 120;}
			}
	}
	header{
		.navbar-brand path{ @include transition(all .2s ease-in-out .4s);}
		.navbar-collapse{position:relative;margin: 0 -15px;}
		.navbar{
				.navbar-toggler{color: $gray; height: 32px; width: 32px; @include transition(all .4s ease-in-out 0s);
					&.collapsed{position: initial!important;@include transition(all .3s ease-in-out .5s);}
				}
			}

		.navbar-light{
			.navbar-nav{
				.nav-item{width:100%; border-right: none; border-bottom: 1px solid $primary;
					&:first-child{border-top: 1px solid $primary;}
					.nav-link{width: 100%; padding:15px 15px!important; text-align: center; @include color-traslucid($primary, .75);@include transition(all .2s ease-in);
						*[class*="ico-"]{display: none;}
						&::before{display: none;}
					}
					&.active{
						.nav-link{ @include color-traslucid($primary, 100); font-weight: 700;}
						&:hover{
							.nav-link{ @include color-traslucid($primary, 100);}
						}
					}
					&:hover{
						.nav-link{ @include color-traslucid($blue, 100);@include transition(all .2s ease-in);}
					}
				}
			}
			.panel-admin{
				&>*{width: 100%;}
			}
		}
	}
	.navbar-toggler-icon{width: 1.2em;height: 1.2em;}
	.wrapper-search{opacity: 1;
		&>div{display: block; overflow: hidden; width: 250px; @include transition(all .4s ease-in-out); position: relative;
			input{padding-left:2.5rem!important; padding-right:3rem!important; border-color: $primary!important; color: $light!important; opacity: .8!important;
				&:focus{color: $light;}
				&::-ms-input-placeholder{color: $light;} //Edge
				&::placeholder{color: $light;}
			} //padding:.625rem 3rem .625rem  2rem!important;
			.search{
				svg{margin: 0 auto; width: 22px; height: 22px;
					path{fill: $white;}
				}
				&.active{
					svg{opacity: .8;}
					&:hover{@include bg-traslucid($light, .1);}
				}
				&:hover{background-color: transparent;}
			}
			.fa-times{color: $light; position: absolute; height: calc(100% - 2px); width: 30px; left: 1px; top:1px; z-index: 100; opacity: 0; @include transition(all .3s ease);@include border-radius(20px 0 0 20px);
				&:hover{@include bg-traslucid($light, .3);}
				&.active{opacity: .5;
					&:hover{@include bg-traslucid($light, .1); }
				}
				&:hover{background-color: transparent; }
			}
		}
		.open{display: none!important;}
	}

	.heading{
		&>.container{z-index: initial; height: auto; min-height: 200px;
			.content-info{padding: 120px 0 80px;}
		}
	}
	.SliderMain, .internaMain{
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{
					.cont-img{display: flex;justify-content: center;align-items: center;
						&>img{width: auto; height: 100%; min-width: initial!important;}
					}
					.content-video{align-items: center;
						video{width: auto; height: auto; min-width: initial!important;}
					}
				}
			}
		}
	}
	.line-down {padding-bottom: 1.2rem;}
	.navbar-collapse{
		&>div{position: fixed;top: 0;width: 100%;height: 100%;z-index: 1000;opacity: 0;@include transform(translate(20px, 0)); @include transition(all .2s ease-in-out);
			&>*{}
		}
		&.show{
			&>div{opacity: 1; @include transition(all .3s ease-in-out 0s); @include transform(translate(0, 0));
				&>*{}
			}
		}
	}

	.item-move{
		img{width: 70%; max-width: 130px;}
	}

	.modalTabla{
		.close{right: 15px; top: 10px; font-size: 1.8rem;}
	}
	.produc-content{
		&>.row{height: auto !important;}
	}

}

@media screen and (max-width: 767px){
	.h3{
		&-md{font-size: 1.125rem;} //18
		&-sm{font-size: 1rem;} //16
	}
	header{
		.navbar-brand img, .navbar-brand svg {max-width: 100px;}

	}
	.SliderMain{
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{height: auto; display: flex; flex-direction: column;
					.cont-img{position: relative !important;height: 0 !important;padding-top: 44.16779661016949%; // height: auto !important;
						&>img{position: absolute;top: 0;width: 100%;width: auto;height: 100%;min-width: initial !important;min-height: 100% !important;}
					}
					.over-img{position: absolute;height: 100% !important;min-height: 220px;z-index: 111;top: 0;height: 0 !important;padding-top: 44.16779661016949%;
						a{position: absolute;height: 100%;width: 100%;top: 0;left: 0;}
					}
					&>.container{order:2;//height: auto!important;
						&>.row{//height: auto!important;
							&>*[class^="col-"]{//height: auto!important;
							}
						}
					}
					.content-info{height: auto!important;padding-left: 30px !important;
						nav{position: relative !important; }
					}
				}
			}
		}
		.swiper-button-next, .swiper-button-prev{display: none!important;}
	}
	.wrapper-play{
		.fa-play-circle{@include text-shadow(0 0 25px rgba(0,0,0, .2)); }
	}
	.internaMain{
		.swiper-container{
			.swiper-wrapper {
				.swiper-slide {
					.cont-img{
						.hero-mb{width: 100%; height: auto;}
					}
				}
			}
		}
		.hero-cont{margin-top: -5%; height: auto!important; z-index: 100;
			.hero_bg{height: auto!important; flex-direction: column!important;
				.hero-cont_bg{height: 30px;
					img{ width: 100%;}
				}
				.hero-cont_info{position: relative; left: 0; max-width: initial; margin: 0!important; background-color: $white;}
			}
		}
	}
	.wrapperFull{min-height: calc(100vh - 217.5px);
		&#home{
			.wrapper-new{
				&:after, &:before{display: none!important;}
			}
		}
		&#not-found{
			.deco-palmera{
				&:before{width: 14.925373134328358%; max-width: 110px; right: 10px; bottom: -15px;}
			}
		}
	}
	.deco{
		&-coco{
			&:after{max-width:100px!important; max-height: 244px; width: 13.568521031207598%; margin-right: 10px;}
		}
		&-mora{
			&:after{margin-left: 15px;}
		}
	}
	section{
		&.prefooter{
			.logo-tooltip{ position: initial!important; //margin: 4px 15px!important;
				&>div{
					&>span{left:50%!important;right:auto!important; margin-left: -35vw; width: 70vw; right: auto;
						&.right-full{bottom:100%; @include transform(translate(0, 30px));}
						&.left-full{top:100%;  @include transform(translate(0, -30px));}
						*{white-space: normal!important;}
					}
				}
			}
		}
	}

	.cont-wrapper{
		.wrapper-info{position: relative!important; margin-top: 72px;}
	}

	.ico-top{bottom: 15px; width: 30px; height: 30px;}

	.actividades{
		.logo-move{
			img{max-width: 210px;}
		}
	}

	.boton-move{
		div{
			&>button:first-child{border-color: $white!important; color: $white!important;
			&:hover{background-color: $white; color: $primary!important;}
			}
		}
	}

	.submenu{position: initial;
		.card{border: none; border-top: 1px solid $primary;}
		a{color: #466ea7bf!important;}
	}
}

@media screen and (max-width: 575px){
	header{
		.navbar-brand img, .navbar-brand svg {max-width: 80px;}
	}
	.h4{
		&-md{font-size: 1rem;line-height: 24px;} //20
	}
	.card{
		&-color{height: auto!important; margin-bottom: 0!important;
			.cont-img{padding-top: 52.173913043478261%; min-height: 250px;/*300*/}
		}
	}
	.tab-ingr{
		&>.row{
			&>*{min-height: initial!important;}
		}
	}
	.tab-nutri{
		&>.row{
			.col-12{padding: 0!important;
				p {border-bottom: 1px solid #777777; padding: 2px 7px; @include bg-traslucid($light, .2);}
			}
		}
	}
	.cont-img{
		&.square{max-width: 320px; padding-top: 53.336284826754281%;}
	}

	.wrapperFull{
		&#home{
			.logo-tooltip{top: -25px;
				&>div{position: initial !important;
					&>img{max-width: 40px;}
					&>span{margin-right: -6.6vw;width: 90vw;right: 50%;bottom:100%; @include transform(translate(0, 30px));
						*{white-space: normal!important;}
					}
				}
			}
		}
	}

	.actividades{
		.logo-move{
			img{max-width: 180px;}
		}
	}
	.item-move{
		img{width: 70%; max-width: 110px;}
	}

}

@media screen and (max-width: 500px){
	.carouselCard{
		.swiper-pagination {margin-top: 250px !important;}
	}
	.actividades{
		.logo-move{
			img{max-width: 150px;}
		}
	}
	// seteo tipo
	.h2-lg {
		font-size: 1.6rem;
	}
	.h1-lg {
		font-size: 3rem;
	}
	.hero-cont_img{
		img{width: 130px!important; max-width: initial!important;}
	}
}

@media screen and (max-width: 400px){
	.cont-img{
		&.square{max-width: 100%;padding-top: 83.336284826754281%;}
	}
	.actividades{
		.logo-move{
			img{max-width: 120px;}
		}
	}
}

@media screen and (min-width: 1440px){
	.carouselCard{z-index: initial;
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{
					*{z-index: initial; }
					.cont-img{position:relative; height: 0; margin: 0 -15px; padding-top: 630px!important; min-height: 220px; overflow: hidden;background-color: transparent;
						&>img{position: absolute; top:0; width: auto; height: 100%;}
						.fullImg{width: 100%!important;}
					}
				}
			}
		}
	}
}

.menu-collapse{
	ul{
		li{
			a{
				&.active{font-weight: 700!important;}
			}
		}
	}
}

@media screen and (min-width: 768px){
	.hero-cont{top: 0; right: 0; z-index: 100; position: absolute;
	}
	.submenu{position: initial;
		.menu-collapse{position: absolute!important; @include box-shadow(0 6px 12px rgba(0,0,0, .07));top: 100%; left: 0; z-index: 500;margin: 0 -15px 0 -15px; width: calc(100% + 30px)!important;
			&:before{content: ""; position: absolute; height: 100%; top: 0; left: 50%; width: 5000px; margin-left: -2500px; @include bg-traslucid($white, .98);}
			&:after{content: ""; position: absolute; height: 1px; bottom: 0; left: 50%; width: 5000px; margin-left: -2500px; @include bg-traslucid(#eeeeee, 100);}
		}
		.card{border: none!important;}
	}
}

@media screen and (min-width: 992px){
	 .navbar_logo{position: absolute; top: calc(50% - 35px); left: 0;}
	 .produc-sv{position: absolute; bottom:0; right: 0;
	 }
	 .boton-move{background-color: transparent!important;}

	 .produc-content{min-height: calc(100vh - 743px);
		&>.row{min-height: 450px;}
	}

	.navbar-collapse{
		.navbar-cont{position: relative;}
	}
	.menu-collapse{
		ul{
			li{
				a{border-bottom: 1px solid $primary; padding-bottom: 5px;}
			}
		}
	}
}
