/*Base*/
@import "mixins";

$BaseUrl: '/svelty/assets';
$spry: '#{$BaseUrl}/img/spry.png';

/*clases extens*/
%relative {position: relative; }
%absolute{ position: absolute;}
%relativeBox {display:block; position: relative; width: 100%;}
%relativeInlineBox {display:inline-block; position: relative; width: auto;}
%absoluteBox {display:block; position: absolute; width: 100%;}
.op-55{opacity: .55;}
.font-weight-medium{font-weight: 500;}
.mw-220{min-width: 220px;}

