
$primary: #466ea7;
$darkgreen: #32563e;
$brown: #996633;
$brown: #9966334d;
$light: #f2f2f2;
$graylight: #808285;
$gray: #727272;
// $blue: #1a2d49;
$dark: #040404;
$black: #000000;
$white: #ffffff;
$pink: #ce7491;
$violet: #c3aad6;
$violet-light: #c3aad670;
$blue: #518fc1;
$blue-light: #b5e4f34d;
$orange: #ff9933;
$orange-light:#ff99334d;
$green: #99cc33;
$green-light: #99cc334d;