/*Typography*/

@font-face {
  font-family: "HelveticaNeue-Roman";
  src: url("../fonts/HelveticaNeue-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeue-Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

$Mon: 'Montserrat', sans-serif;
$Nun: 'Nunito', sans-serif;
$LYLS: 'Love Ya Like A Sister', cursive;