/*mixins*/

@mixin prefix($property, $arguments) {
 $prefixes: "webkit", "moz", "ms", "o", "none";
 @each $prefix in $prefixes {
   @if $prefix == "none" {
     #{$property}: $arguments;
   } @else {
     -#{$prefix}-#{$property}: $arguments;
   } 
 }
}

@mixin color-traslucid($color, $opacity: 0.3) {
  color: $color; /* The Fallback */
  color: rgba($color, $opacity);
}

@mixin bg-traslucid($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin bg-traslucid-important($color, $opacity: 0.3) {
    background: $color !important; /* The Fallback */
    background: rgba($color, $opacity) !important;
}

@mixin border-radius($some-number) {
  border-radius: $some-number!important;
  -moz-border-radius: $some-number!important;
  -webkit-border-radius: $some-number!important;
}

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow;
     -moz-text-shadow: $shadow;       
          text-shadow: $shadow;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;       
          box-shadow: $shadow;
}

//Before & after
@mixin before($position, $url, $bgL, $bgT, $width, $height, $top, $left, $mleft:0, $mtop:0){
  @if $position == left {
    &:before{content:' '; background: url($url) $bgL $bgT no-repeat; width: $width; height: $height; top: $top; left: $left; margin-top: $mtop; margin-left: $mleft; right: auto;} 
  }
  @if $position == right {
    &:before{content:' '; background: url($url) $bgL $bgT no-repeat; width: $width; height: $height; top: $top; right: $left; margin-top: $mtop; margin-right: $mleft; left: auto;} 
  }
}

@mixin after($position, $url, $bgL, $bgT, $width, $height, $top, $left, $mleft:0, $mtop:0){
  @if $position == left {
    &:after{content:' '; background: url($url) $bgL $bgT no-repeat; width: $width; height: $height; top: $top; left: $left; margin-top: $mtop; margin-left: $mleft; right: auto;} 
  }
  @if $position == right {
    &:after{content:' '; background: url($url) $bgL $bgT no-repeat; width: $width; height: $height; top: $top; right: $left; margin-top: $mtop; margin-right: $mleft; left: auto;} 
  }

  @if $position == leftBottom {
    &:after{content:' '; background: url($url) $bgL $bgT no-repeat; width: $width; height: $height; bottom: $top; left: $left; margin-bottom: $mtop; margin-left: $mleft; right: auto;} 
  }
  @if $position == rightBottom {
    &:after{content:' '; background: url($url) $bgL $bgT no-repeat; width: $width; height: $height; bottom: $top; right: $left; margin-bottom: $mtop; margin-right: $mleft; left: auto;} 
  }

}

@mixin background ($url, $repeat:no-repeat, $x:0, $y:0) {
    background-image: url($url);
    background-repeat: #{$repeat};
    background-position: #{$x}px #{$y}px;
}

/*...............................................................................................................................................*/
/*Transitions
As with animations, transitions also make your code quite bloated which can hurt the readability. But this is also solved by using a mixin for it.*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*Cross browser opacity
This mixin ensures cross browser opacity all the way down to Internet Explorer 5. Though if you have to optomize for IE5, you have a lot bigger problems than opacity, godspeed my friend.*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/*Clearfix
There’s a lot of different clearfix hacks out there on the web. This one is created by (Nicolas Gallagher) and I’ve found it to be the most solid one. Works in IE6 and up.*/
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*Mixins for semi-transparent colors*/
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}


/*With just a bit more effort, you can use a little Sass interpolation to make a generic mixin that you can use to set any color attribute:*/
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

/*Sass - Converting Hex to RGBa for background opacity. The rgba() function can accept a single hex color as well decimal RGB values. For example, this would work just fine:*/
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin color-opacity($color, $opacity: 0.3) {
    color: $color; /* The Fallback */
    color: rgba($color, $opacity);
}

// Browser Prefixes
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

// Rotate
@mixin rotate ($deg) { 
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
      -webkit-transform-origin: $origin;
      -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin linear-gradient($angle, $color-stops...) {
  $_angle-with-vendor-prefix: "";
  $_angle: "";
  @if $angle == "to top" or $angle == "bottom" {
    $_angle-with-vendor-prefix: bottom;
    $_angle: to top;
  } @else if $angle == "to right" or $angle == "left" {
    $_angle-with-vendor-prefix: left;
    $_angle: to right;
  } @else if $angle == "to bottom" or $angle == "top" {
    $_angle-with-vendor-prefix: top;
    $_angle: to bottom;
  } @else if $angle == "to left" or $angle == "right" {
    $_angle-with-vendor-prefix: right;
    $_angle: to left;
  } @else if $angle == "to top right" or $angle == "bottom left" {
    $_angle-with-vendor-prefix: bottom left;
    $_angle: to top right;
  } @else if $angle == "to bottom right" or $angle == "top left" {
    $_angle-with-vendor-prefix: top left;
    $_angle: to bottom right;
  } @else if $angle == "to bottom left" or $angle == "top right" {
    $_angle-with-vendor-prefix: top right;
    $_angle: to bottom left;
  } @else if $angle == "to top left" or $angle == "bottom right" {
    $_angle-with-vendor-prefix: bottom right;
    $_angle: to top left;
  } @else {
    $_angle-with-vendor-prefix: $angle % 360;
    $_angle: (90 - $angle) % 360;
  }
  background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: linear-gradient($_angle, $color-stops);
}
